.article {
  height: 140px;
  width: 941px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 4px 10px 1px rgb(203, 199, 199);
  padding: 15px;

  &__in-single-page {
    height: 100%;
  }

  &__content {
    position: relative;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
  }

  &__container--in-single-page {
    margin-bottom: 14px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__title {
    font-size: 20px;
    line-height: 28px;
    color: #1890ff;
    margin: 0;
    font-weight: 500;
    text-decoration: none;
  }

  &__button {
    height: 15px;
    min-width: 16px;
    padding: 0;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    background-color: #fff;
    display: flex;
    gap: 4px;
  }

  &__like {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
  }

  &__title-and-likes {
    display: flex;
    gap: 13px;
    align-items: center;
  }

  &__tags {
    display: flex;
    gap: 8px;
  }

  &__tag {
    padding: 0 5px 0 5px;
    height: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    border: 1px solid black;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__user-and-date {
    display: flex;
    flex-direction: column;
    align-items: end;
  }

  &__username {
    font-size: 18px;
    line-height: 28px;
    margin: 0;
    font-weight: 500;
  }

  &__info {
    display: flex;
    gap: 12px;
  }

  &__date {
    font-size: 12px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.5);
    display: block;
  }

  &__description {
    margin: 0;
    width: 682px;
    font-size: 12px;
    line-height: 22px;
    height: 45px;
    overflow: hidden;
  }

  &__description--in-single-page {
    height: 100%;
  }

  &__text {
    margin: 0;
    display: none;
  }

  &__text--visible {
    display: block;
    overflow-wrap: anywhere;
  }

  &__correctedText {
    position: absolute;
    top: 35px;
  }
}
